body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* HEADER */

.header {
  background-color: #ffffff;
}
/* .header-nav {
}
.header-logo {
}
.header-list {
}
.header-item {
} */
.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:focus,
.header-link:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
/* .header-adress {
}
.adress-list {
} */
.contact-email {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-email:hover,
.contact-email:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.contact-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* HERO */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* STRENGTH */
.strength {
  background-color: #ffffff;
}
/* .visually-hidden {
}
.strenth-list {
}
.strenth-item {
} */
.strenth-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.strenth-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* WHAT WE ARE DOING */

.products {
  background-color: #ffffff;
}
.products-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* .products-list {
}
.product-item {
}
.product-img {
} */

/* TEAM */

.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}

.team-item {
}
.team-img {
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/* FOOTER */
.footer {
  background: #2e2f42;
}
.footer-logo {
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* PORTFOLIO PAGE */
.portfolio {
  background-color: #ffffff;
}
/* .portfolio-btn-list {
}

.portfolio-btn-item {
} */
.portfolio-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #404bbf;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/* .portfolio-item {
}
.portfolio-img {
} */
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.porfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
